<div class="main">
    <div id="heading1">
        <h1 routerLink="/dashboard/books">Home</h1>
        <h1>/Book</h1>
    </div>
    <div class="box1" fxLayout="row" fxLayoutAlign="start start" *ngFor="let book of book_details">
        <div id="box-1-1">
            <img src="../../assets/content.jfif">
        </div>
        <div id="box-1-2">
            <img src="../../assets/content.jfif">
            <div>
                <div *ngIf="flag" class="button1">
                    <button mat-flat-button (click)="addToCart(book._id)">ADD TO BAG</button>
                    <button mat-flat-button (click)=" addWishlist(book._id)"
                        routerLink="/dashboard/wishlist">WISHLIST</button>
                </div>

                <div *ngIf="!flag" class="cart-buttons">
                    <button id="cart-button" (click)="decCartItems(cartQuantity,cartId)">-</button>
                    <input id="button3" [(ngModel)]="cartQuantity" ngDefaultControl>
                    <button id="cart-button" (click)="incCartItems(cartQuantity,cartId)">+</button>
                    <button id="button2" mat-flat-button (click)=" addWishlist(book._id)"
                        routerLink="/dashboard/wishlist">WISHLIST</button>
                </div>
            </div>
        </div>
        <div id="box-1-3">
            <h1>{{book.bookName}}</h1>
            <h2>by {{book.author}}</h2>
            <div class="rating" fxLayout="row" fxLayoutAlign="space-evenly center">
                <h3>4.5 <img src="../../assets/star.svg" alt=""></h3>
                <h4>({{book.quantity}})</h4>
            </div>
            <div class="rating" fxLayout="row" fxLayoutAlign="space-evenly center">
                <h5>Rs.{{book.discountPrice}}</h5>
                <h2><s>{{book.price}} </s></h2>
            </div>
            <p> ______________________________________________________________</p>
            <div class="para">
                <h2><img src="../../assets/circle.svg"> Book Details</h2>
            </div>
            <div class="desc">
                {{book.description}}
            </div>
            <p>_______________________________________________________________</p>
            <div class="customer-details">
                <h1>Customer Feedback</h1>
                <div class="feedback">
                    <h1>Overall Rating</h1>
                    <div id="image">
                        <div (click)="addRating(1)"><img src="../../assets/star_feedback.svg"></div>
                        <div (click)="addRating(2)"><img src="../../assets/star_feedback.svg"></div>
                        <div (click)="addRating(3)"><img src="../../assets/star_feedback.svg"></div>
                        <div (click)="addRating(4)"><img src="../../assets/star_feedback.svg"></div>
                        <div (click)="addRating(5)"><img src="../../assets/star_feedback.svg"></div>
                    </div>
                    <input placeholder='Write your reviews' type="text" id="text-field" [(ngModel)]="comment">
                    <button mat-flat-button id="button" (click)="addComment(book._id)" onclick="document.getElementById('text-field').value=''">Submit</button>


                </div>
                <div *ngIf="submitted" >
                    <div id="customer-feeds" *ngFor="let com of user_comments">
                        <h1>{{com.user_id.fullName}}</h1>
                        <div class="star">
                            <rating  style="color: #ffc700;font-size: 40px;" [(ngModel)]="com.rating" [max]="5" [readonly]="true">
                            </rating>
                        </div>
                        <h2>{{com.comment}}</h2>
                    </div> 
                    
                </div>
                

            </div>


        </div>
    </div>

</div>