<div class="main">
    <div id="heading1">
        <h1 routerLink="/dashboard/books">Home</h1>
        <h1>/Book(01)</h1>
    </div>
    <div class="box1" fxLayout="row" fxLayoutAlign="start start" *ngFor="let book of book_details">
        <div id="box-1-1">
            <img src="../../assets/content.jfif">
        </div>
        <div id="box-1-2">
            <img src="../../assets/content.jfif">
            <div>
                <div *ngIf="flag" class="button1" >
                    <button mat-flat-button (click)="addToCart(book._id)">ADD TO BAG</button>
                    <button mat-flat-button (click)=" addWishlist(book._id)">WISHLIST</button>
                </div>

                <div *ngIf="!flag" class="cart-buttons">
                    <button id="cart-button" (click)="decCartItems(cartQuantity,cartId)">-</button>
                    <input id="button3" [(ngModel)]="cartQuantity" ngDefaultControl>
                    <button id="cart-button" (click)="incCartItems(cartQuantity,cartId)">+</button>
                    <button id="button2" mat-flat-button (click)=" addWishlist(book._id)">WISHLIST</button>
                </div>




            </div>
        </div>
        <div id="box-1-3">
            <h1>{{book.bookName}}</h1>
            <h2>by {{book.author}}</h2>
            <div class="rating" fxLayout="row" fxLayoutAlign="space-evenly center">
                <h3>4.5 <img src="../../assets/star.svg" alt=""></h3>
                <h4>({{book.quantity}})</h4>
            </div>
            <div class="rating" fxLayout="row" fxLayoutAlign="space-evenly center">
                <h5>Rs.{{book.discountPrice}}</h5>
                <h2><s>{{book.price}} </s></h2>
            </div>
            <p> _________________________________________________________</p>
            <div class="para">
                <h2><img src="../../assets/circle.svg"> Book Details</h2>
            </div>
            <div class="desc">
                {{book.description}}
            </div>
            <p>_________________________________________________________</p>


        </div>


    </div>

</div>