<div class="main">
    <div class="navbar" fxLayout="row" fxLayoutAlign="center center">
        <div class="navbar-elements" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="heading" fxLayout="row" fxLayoutAlign="center center">
                <img src="../../assets/education.svg">
                <h2 id="heading-h2">Bookstore</h2>
            </div>
            <div class="input-bar" fxLayout="row" fxLayoutAlign="center center">
                <div class="logo-search">
                    <img src="../../assets/search.svg">
                </div>
                <input id="input-bar" placeholder="Search">
            </div>
            <div fxLayout="row">
                <div class="account-icon" fxLayout="column" fxLayoutAlign="center center">
                    <img id="cart-image" src="../../assets/person.svg" alt="">
                    <p>Profile</p>
                </div>
                <div class="cart-icon" fxLayout="column" fxLayoutAlign="center center">
                    <img id="cart-image" src="../../assets/shopping_cart.svg" alt="">
                    <p routerLink="/dashboard/cart">Cart</p>
                </div>
            </div>
        </div>
    </div>
    <div  fxLayot="column" fxLayoutAlign="center center">
        <div class="books">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    
</div>
