.head{
    background-color: #beb7b7;
    height:100vh;
    width:100vw;
    border:6px solid #beb7b7;
    margin:-1vw;
    margin:-2vh;

    
    

}

.main{
    // margin-top: -30%;
    // border: 2px solid red;
    height: 400px;
    width: 50%;
    margin-left: 25% ;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}



.part1{
    // border: 2px solid green;
    
    height: 92%;
    width: 50%;
    margin-top:2% ;
    img{
        height: 60%;
        width: 70%;
        // position: absolute;
    // // width: 624px;
    // height: 420px;
    margin-top: 50px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 200px;
    }
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;
}
    

p{
    // top: 513px;
    // left: 391px;
    // width: 209px;
    // height: 24px;
    /* UI Properties */
    text-align: left;
    font-size:20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: uppercase;
    opacity: 1;

}
.part2{
    // border: 2px solid blue;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    // border: 1px solid #E4E4E4;
    border-radius: 6px;
}
.part2-1{
    // border: 2px solid black;
    height: 100%;
    width: 70%;
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: rgb(119, 5, 5);
      }
    // input.mat-input-element {
    //     // color: white;
    //   }
    
}
.part2-1-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.example-button-row {
    display: table-cell;
    width: 490px;
}
  
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;

}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    font-weight:medium;
    color:#0A0102;

}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    font-weight:medium;
    color:#0A0102;

}
h3{
    font-size: 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
    // margin-top: 8px;
    margin-bottom: 2px;
 }
h4{ 
    font-size: 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 2px;

 }

h5{
        // top: 371px;
        // left: 898px;
        // width: 81px;
        // height: 13px;
        /* UI Properties */
        text-align: left;
        // font: normal normal normal 10px/13px Roboto;
        letter-spacing: 0px;
        color: #9D9D9D;
        opacity: 1; 
        margin-left: 140px;
        margin-top: -16px;

    }
.heading5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border: 2px solid green;
    width: 99%;
    // margin: 20%;
    // height: -10%;
}

.example-button-row {
    display: table-cell;
    width: 800px;
    
}
  
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

h6{
//     top: 461px;
// left: 756px;
// width: 191px;
// height: 18px;
// /* UI Properties */
// opacity: 1;

top: 461px;
left: 840px;
// width: 22px;
// height: 18px;
/* UI Properties */
text-align:left ;
font: normal normal bold 14px/18px Meiryo UI;
letter-spacing: 0px;
color: #343434;
text-transform: uppercase;
opacity: 1;
margin-left: 40px;
margin-top: 15px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin-right: 7px;
    margin-top: 10px;

}

.button{
    width:236px; 
    background-color:#A03037;
}
.button1{
    width:235px;
    // height:13px ;
}
.button2{
    width:114px;
    
}
.button2-1{
    width:114px;
    background-color:#79777727;
    
}

#font-size{
    font-size:12px ;
}

::ng-deep .mat-form-field-appearance-outline#specific-border .mat-form-field-outline  {
    color: #A03037;
    border-radius: 5px;
    border: #F5F5F5 !important ;
}

.mat-focused .mat-icon {
    color: red;
}