h1{
    font-size: 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
    // margin-top: 8px;
    margin-bottom: 2px;
    margin-top: 7px ;
 }
 h2{
    font-size: 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
    // margin-top: -2px;
    margin-bottom: 2px;
}

#login-button{
    width: 235px;
    margin-top: 40px;
    background-color: rgb(136, 13, 13);
}

.button1{
    width:235px;
    height:15px ;
    margin-top: -8px;
}

.part2-1-1{
    height: 57vh;
    // border: 2px solid black;
}

.button-size{
    height: -10px;
}

#font-size{
    font-size: 10px ;
}