.main {
    padding: 20px;
    // border: 2px solid red;
    height: auto;

    .main-box {
        // border: 2px solid green;
        height: auto;
        padding: 20px;

        .box-1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: auto;

            h1 {
                font-size: large;
            }
        }

        .box-2 {
            border: 2px solid rgb(167, 166, 166);
            height: 100%;
            width: 100%;
            // margin-top: 1px;
            padding-top: 10px;

            .box-2-1 {
                // border: 2px solid yellow;
                height: auto;
                width: 50%;

                h1 {

                    font-size: large;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    margin-left: 30px;
                    font-weight: 500;
                }

                .box-2-1-1 {
                    // border: 2px solid black;
                    width: 50%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 10px;

                    img {
                        width: 90px;
                        height: 140px;

                    }
                }

                .box-2-1-2 {
                    // border: 2px solid orange;
                    width: 50%;
                    height: 270px;

                    h1 {
                        font-weight: 400;
                        margin-left: -2px;
                    }

                    h2 {
                        font-weight: 400;
                        color: gray;
                        font-size: 17px;
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 20px;

                    }

                    .price {
                        display: flex;
                        justify-content: start;
                        flex-direction: row;

                        h2 {
                            margin-left: 10px;
                        }
                    }

                    .cart-buttons {
                        justify-content: start;
                        flex-direction: row;
                        display: flex;
                        // margin-left: 60px;
                        width: 50%;
                        padding-bottom: 10%;

                        #cart-button {
                            display: flex;
                            justify-content: start;
                            flex-direction: row;
                            border-radius: 100%;
                            border: rgba(161, 156, 156, 0.692);
                            background-color: rgb(167, 165, 165);
                            height: 35px;
                            padding: 10%;


                        }

                        #button2 {
                            background-color: #A03037;
                            color: white;
                            border: white;
                            width: 3vw;
                            height: 35px;
                            display: flex;
                            justify-content: start;
                            flex-direction: row;
                        }

                        #button3 {


                            width: 30px;
                            display: flex;
                            justify-content: start;
                            flex-direction: row;
                            text-align: center;

                            border.hover {
                                border: white;
                            }

                            height: 30px;
                        }

                        h1 {
                            font-weight: 500;
                            margin-left: 20%;
                        }

                    }
                }
                padding: 20px;
                #button {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    background-color: #3371B5;
                    margin-left: 162%;
                    
                    color: white;

                    .mat-flat-button {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        



                    }

                }

            }


        }

        .box-3 {
            padding-top: 10px;
            margin-top: 10px;
            border: 2px solid rgb(167, 166, 166);
            height: 50%;
            width: 100%;

            h1 {

                font-size: large;
                display: flex;
                flex-direction: row;
                justify-content: start;
                margin-left: 30px;
                font-weight: 500;
            }
            h3{
                font-size:15px;
                font-weight: 500;
            }
            h2{
                font-size:large;
                font-weight: 500;
            }

            .address-details {
                // border: 1px solid rgba(128, 128, 128, 0.332);
                border-radius: 2px;
                margin-top: 20px;
            }

            .address {
                margin: 20px;
                margin-left: 30px;
            }

            .address-complete {
                margin: 20px;
                margin-left: 30px;
                width: 500px;
            }

            .text-input {
                width: 230px;
                height: 40px;
            }

            .address-div {
                margin-top: 20px;
            }

            .address-input {
                width: 492px;
                height: 40px;
            }


        }

        .button-box {
            padding: 20px;

            #button {
                background-color: #3371B5;
                margin-left: 90px;
                color: white;
            }

        }

        .box-4 {
            padding-top: 1%;
            margin-top: 10px;
            border: 2px solid rgb(167, 166, 166);
            height: 30%;
            width: 100%;

            h1 {
                font-size: large;
                font-weight: 500;
                padding-left: 30px;
            }

            h2 {
                font-weight: 400;
                margin-top: 28px;
            }

            h3 {
                font-weight: 400;
                color: gray;
                font-size: 17px;
            }

            img {
                padding: 30px;
            }

            .price {
                display: flex;
                justify-content: start;
                flex-direction: row;

                h3 {
                    font-weight: 400;
                    color: gray;
                    font-size: 17px;
                    margin-left: 12px;
                }

                h4 {
                    font-weight: 700;
                    font-size: 20px;

                }

            }

            .button-box {
                padding: 20px;
                display:flex;
                justify-content: flex-end;
                flex-direction: row;


                #button {
                    background-color:#3371B5;
                    margin-left: 90px;
                    color: white;

                }

                .box-4-1 {
                    margin-left: 10px;
                    margin-top: 20px;
                }

                .order-detail {
                    margin-left: 10px;
                    margin-top: 19px;
                }
            }
        }
    }
}