.main{
    border: 2px solid red;
    height: auto;
}
.main-box{
    border: 2px solid green;
    height: auto;
}

.box-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: auto;
    h1{
        font-size: large;
    }
}
.box-2{
    border: 2px solid blue;
    height: auto;
    width: 100%;
    // padding: 5%;
    .box-2-1{
        border: 2px solid yellow;
        height: auto;
        width: 50%;
        h1{
            
            font-size: large;
            display: flex;
            flex-direction: row;
            justify-content: start;
        }
        .box-2-1-1{
            border: 2px solid black;
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 90px;
                height: 140px;
            }
        }
        .box-2-1-2{
            border: 2px solid orange;
            width: 50%;
            height: auto;
            h1{
                font-weight: 700;
            }
            h2{
                font-weight:300 ;
                color: gray;
            }
            .price{
                display: flex;
                justify-content: start;
                flex-direction: row;
                h2{
                    margin-left:10px;
                }
            }
            .cart-buttons{
                justify-content: start;
                flex-direction: row;
                display: flex;
                // margin-left: 60px;
                width: 50%;
                padding-bottom: 10%;
                #cart-button{
                    display: flex;
                    // width:1px;
                    // height: 2px;
                    justify-content: start;
                    flex-direction: row;
                    border-radius: 100%;
                    border:rgba(161, 156, 156, 0.692);
                    background-color: rgb(167, 165, 165);
                    height: 35px;
                    padding: 10%;
                    
                    
                }
                #button2{
                    background-color: #A03037;
                    color: white;
                    border: white;
                    width: 3vw;
                    height: 35px;
                    display: flex;
                    justify-content: start;
                    flex-direction: row;
                    // margin-left:20px;
                }
                #button3{
                
                    
                    width: 30px;
                    display: flex;
                    justify-content:start;
                    flex-direction: row;
                    text-align: center;
                    border.hover{
                        border: white;
                    }
                    height: 30px;
                }
                h1{
                    font-weight: 500;
                    margin-left: 20%;
                }
            
            }
        }
        
    }
    .box-2-2{
        border: 2px solid violet;
        height: auto;
        width: 50%;
        
        #button{
            display: flex;
            flex-direction: column;
            align-items:flex-end;
            background-color: rgb(118, 118, 207);
            margin-left: 70%;
            margin-top: 144%;
            color: white;
         
        }
    }
}